# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [2]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [3]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [4]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["School ID"].unique())
school_count

15

In [5]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [6]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [8]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print (f"Passing math average percentage: {passing_math_count}%")

Passing math average percentage: 29370%

In [10]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = (average_reading_score + average_reading_score)/2
print (f"Passing reading average percentage: {passing_reading_count}%")

Passing reading average percentage: 81.87784018381414%

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print (f"Overall passing average percentage: {overall_passing_rate}%")

Overall passing average percentage: 65.17232575950983%

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame ????????????????????????????
district_results = [{"Total Schools": school_count, 
            "Total Students": student_count, 
            "Total Budget": total_budget, 
            "Average Math Score":  round(average_math_score,2), 
            "Average Reading Score":  round(average_reading_score,2), 
            "% Passing Math": round(passing_math_percentage,2),
            "% Passing Reading": round(passing_reading_count,2),
            "% Overall Passing Rate": round(overall_passing_rate,2)}]

district_summary = pd.DataFrame(district_results)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,81.88,65.17

## School Summary

In [13]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
# Use the code provided to select the school type
school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >= 70

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [15]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby("school_name").size()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [16]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [17]:
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
# Calculate the average test scores - math
per_school_math = school_data_complete["math_score"].mean()
per_school_math

78.98537145774827

In [19]:
# Calculate the average test scores - reading
per_school_reading = school_data_complete["reading_score"].mean()
per_school_reading

81.87784018381414

In [20]:
# Calculate the number of schools with math scores of 70 or higher - math
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [21]:
# Calculate the number of schools with reading scores of 70 or higher - reading
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [22]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [24]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [25]:
# Use groupby by school_name
school_group = school_data_complete.groupby(["school_name"]).mean()
school_group["Per Student Budget"] = school_group["budget"]/school_group["size"]
school_group["% Passing Math"] = round(school_group["passing_math"]*100,2)
school_group["% Passing Reading"] = round(school_group["passing_reading"]*100,2)
school_group["% Overall Passing Rate"] = round(((school_group["passing_math"] + school_group["passing_reading"])/2)*100,3)
school_group

,Student ID,reading_score,math_score,School ID,size,budget,passing_math,passing_reading,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.666801,0.819333,628.0,66.68,81.93,74.307
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.941335,0.970398,582.0,94.13,97.04,95.587
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.659885,0.807392,639.0,65.99,80.74,73.364
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.683096,0.792990,644.0,68.31,79.30,73.804
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.933924,0.971390,625.0,93.39,97.14,95.266
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,0.667530,0.808630,652.0,66.75,80.86,73.808
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0,0.925059,0.962529,581.0,92.51,96.25,94.379
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,0.656839,0.813164,655.0,65.68,81.32,73.500
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,0.660576,0.812224,650.0,66.06,81.22,73.640
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0,0.945946,0.959459,609.0,94.59,95.95,95.270
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,0.663666,0.802201,637.0,66.37,80.22,73.293
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,0.938671,0.958546,600.0,93.87,95.85,94.861
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,0.932722,0.973089,638.0,93.27,97.31,95.291
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,0.938677,0.965396,578.0,93.87,96.54,95.204
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,0.933333,0.966111,583.0,93.33,96.61,94.972

In [26]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary_data={ "School Type" :school_types,
                         "Total Students" : per_school_counts,
                         "Total School Budget" : per_school_budget,
                         "Per Student Budget" : per_school_capita,
                         "Average Math Score" : per_school_math,
                         "Average Reading Score" : per_school_reading,
                         "% Passing Math" : per_school_passing_math,
                         "% Passing Reading" : per_school_passing_reading,
                         "% Overall Passing" : overall_passing_rate }
per_school_summary = pd.DataFrame(per_school_summary_data)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,78.985371,81.87784,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,78.985371,81.87784,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,78.985371,81.87784,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,78.985371,81.87784,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,78.985371,81.87784,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,78.985371,81.87784,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,78.985371,81.87784,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,78.985371,81.87784,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,78.985371,81.87784,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,78.985371,81.87784,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,78.985371,81.87784,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,78.985371,81.87784,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,78.985371,81.87784,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,78.985371,81.87784,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,78.985371,81.87784,93.333333,96.611111,90.333333

In [27]:
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("{:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("{:,.2f}".format)

In [28]:
# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"3,124,928.00",628.00,78.985371,81.87784,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"1,081,356.00",582.00,78.985371,81.87784,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"1,884,411.00",639.00,78.985371,81.87784,65.988471,80.739234,53.204476
Ford High School,District,2739,"1,763,916.00",644.00,78.985371,81.87784,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"917,500.00",625.00,78.985371,81.87784,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"3,022,020.00",652.00,78.985371,81.87784,66.752967,80.862999,53.527508
Holden High School,Charter,427,"248,087.00",581.00,78.985371,81.87784,92.505855,96.252927,89.227166
Huang High School,District,2917,"1,910,635.00",655.00,78.985371,81.87784,65.683922,81.316421,53.513884
Johnson High School,District,4761,"3,094,650.00",650.00,78.985371,81.87784,66.057551,81.222432,53.539172
Pena High School,Charter,962,"585,858.00",609.00,78.985371,81.87784,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"2,547,363.00",637.00,78.985371,81.87784,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"1,056,600.00",600.00,78.985371,81.87784,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"1,043,130.00",638.00,78.985371,81.87784,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"1,319,574.00",578.00,78.985371,81.87784,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"1,049,400.00",583.00,78.985371,81.87784,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

## Bottom Performing Schools (By % Overall Passing)

## Math Scores by Grade

## Reading Score by Grade

## Scores by School Spending

In [29]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
bin_labels = ["$0-585", "$585-630", "$630-645", "$645-680"]
    
spending_bins

[0, 585, 630, 645, 680]

In [30]:
school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].astype('float')
per_school_summary["School Size"] = pd.cut(per_school_summary["Per Student Budget"], size_bins, labels=labels, include_lowest=True)
per_school_summary

NameError: name 'school_spending_df' is not defined

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

school_spending_df

In [ ]:
# Convert single column to int dtype.
school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].astype('float')
school_spending_df

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'], bins=spending_bins, labels=bin_labels)

school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending})

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels, include_lowest=True)
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,
        "Average Reading Score": size_reading_scores,
        "% Passing Math": size_passing_math,
        "% Passing Reading": size_passing_reading,
        "% Overall Passing": size_overall_passing})

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
average_math_score_by_type = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
average_reading_score_by_type = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type,
        "Average Reading Score": average_reading_score_by_type,
        "% Passing Math": average_percent_passing_math_by_type,
        "% Passing Reading": average_percent_passing_reading_by_type,
        "% Overall Passing": average_percent_overall_passing_by_type})

# Display results
type_summary